[Unit]
Description=Matrix-Webhook service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=matrix-webhook
Group=matrix-webhook
EnvironmentFile=/etc/conf.d/matrix-webhook
ExecStart=/usr/bin/python -m matrix_webhook -i $MATRIX_ID -k $API_KEY -p $MATRIX_PW -u $MATRIX_URL -P $PORT
WorkingDirectory=/var/lib/matrix-webhook

Restart=always

[Install]
WantedBy=multi-user.target
