[Unit]
Description=Prometheus

[Service]
User=prometheus
Group=prometheus
Type=simple
Restart=on-failure
EnvironmentFile=/etc/conf.d/prometheus
ExecStart=/usr/bin/prometheus --config.file=${PROMETHEUS_CONFIG} --storage.tsdb.path=${PROMETHEUS_TSDATA} ${PROMETHEUS_ARGS}
PIDFile=/run/prometheus.pid

[Install]
WantedBy=multi-user.target
