[Unit]
Description=Prometheus

[Service]
User=prometheus
Group=prometheus
Type=simple
Restart=on-failure
ExecStart=/usr/bin/prometheus --config.file=/etc/prometheus/prometheus.yml --storage.tsdb.path=/var/lib/prometheus/data
PIDFile=/run/prometheus.pid

[Install]
WantedBy=multi-user.target
