[Unit]
Description=BOFH Generator webservice (bofh_generator)
After=network-online.target

[Service]
User=bofh_generator
Group=bofh_generator
EnvironmentFile=/etc/bofh_generator/settings.env
ExecStart=/usr/bin/bofh_generator -w -a ${ADDR} -p ${PORT}
KillMode=process
Restart=on-failure
Type=simple
PIDFile=/var/run/bofh_generator.pid
RestartSec=10

[Install]
WantedBy=multi-user.target
