[Unit]
Description=Enables thermal throtteling for nvidia-ratchet
After=graphical.target

[Service]
Type=simple
ExecStart=/bin/echo 1 > /sys/devices/platform/asus-nb-wmi/throttle_thermal_policy

[Install]
WantedBy=multi-user.target
