[Unit]
Description=Synapse: Matrix reference server
Wants=network-online.target
After=network-online.target

[Service]
User=synapse
Group=synapse
Type=forking
Restart=on-failure
EnvironmentFile=/etc/conf.d/synapse
ExecStart=/usr/bin/synctl start ${SYNAPSE_CONFIG}
ExecStop=/usr/bin/synctl stop ${SYNAPSE_CONFIG}

[Install]
WantedBy=multi-user.target
